body{
    margin: 0;
    font-family: 'Franklin Gothic', sans-serif;
    letter-spacing: 3px;
    background-color: grey;
}
.nav ul{
	list-style-type:none;
	margin:0;
	padding:0;
	background-color: #232426;
	overflow: hidden;
}
#title, .nav a strong, .nav img{
	float: left;
    color: #ed0b0e;
    font-size: large;
}
.nav img{
    padding: 3px 0px 0px 10px;
}
.nav a{
    float: right;
	display: block;
	color:white;
	text-align: center;
	padding:22px 20px;
	text-decoration:none;
}
.nav a:hover{
	color:#ed0b0e;
}

.body{
    background-color: #dee1e3;
    opacity: 0.8;
    margin: 90px 19px;
    padding: 20px;
    border-radius: 40px;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    vertical-align: center;
}
#textbod{
    margin-top: 9%;
    padding: 0px 40px;
}
strong{
    color: #ed0b0e;
}
.mySlides{
    display: none;
    border-radius: 10px;
    height: 450px;
    margin: 30px 30px 30px 0px;
}
#home{
    display: inline-block;
    
    text-align: center;
    padding: 5px 30px;
    color: #dee1e3;
    border-radius: 20px 20px 0px 0px;
    background-image: url(https://cdn.pixabay.com/photo/2020/12/07/18/30/trees-5812522_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#home h3{
    text-align: right;
}
.content{
    display: flex;
    flex: 1;
    padding: 30px 70px;
    gap: 50px;
}
.content img{
    height: 340px;
    border-radius: 10px;
}
#contact{
    background-color: #dee1e3;
    padding: 100px;
    opacity: 0.9;
    border-radius: 10px;
    margin: 150px 15px;
}
#about{
    background-color: #232426;
    padding: 50px;
    color: #dee1e3;
}
#contact p, #about p{
    padding: 0px 100px;
}